/******************************* Main style for website *********************/
/****************************************************************************/


/*******************************main color ***********************/
/*************************************************************************/

/*  - background color: #f2f2f2
    - header: #00123c

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #f2f2f2;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    grid-template-areas:  
    'header header'
    'title title'
    'main info'
    'footer footer';
}

/************************** Header page *******************************/
/***********************************************************************/

/********* link *********/

header{
    background-color: #00123c;
    padding: 5px 30px 5px 50px;
}

.link_right{
    float: right;
    padding: 15px 0px 15px 15px;
}

.link_right li{
    display: inline;
    list-style: none;
    
}

.link_right li a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}
/************** css for header *************/

.link_right a:hover{
    background-color: #033dc2;
}

header a.main_page{
    background-color: white;
    color: #033dc2
}
header a.main_page:hover{
    background-color: white;
    color: #033dc2
}

/************* logo ***************/

.logo{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border: 3px solid #00123c;
    box-shadow: 2px 2px 5px 0px #00123c;
}


/*********************** TITLE WEBSITE*******************/
/*********************************************************/
.title_main{
    padding: 75px 25px;
    position: relative;
}

.title_main h1{
    background-color: white;
    position: absolute;
    padding: 15px;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 4px 10px #00123c;
    border-radius: 25px;
    font-size: 200%;
}

.multi_word{
    font-family: 'Butcherman', cursive;
    color: #0040d4;
}

/************** css for title ***********/
.online_word{
    animation: change_color 10s infinite;
}

@keyframes change_color {
    0% {
        color: red;
    }
    50%{
        color: red;
    }
    100%{
        color: blue;
    }
}



/************************ CODE FOR FOOTER ***********************/
/****************************************************************/

footer{
    position: relative;
    padding: 10px 25px;
    background-color: #00123c;
    color: white;
    font-size: 10px;
}

.info{
    list-style: none;
    line-height: 20px;
}

.feedback{
    position: absolute;
    display: inline;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}