/******************************* Main style for website *********************/
/****************************************************************************/


/*******************************main color ***********************/
/*************************************************************************/

/*  - background color: #e9ebee
    - header: #00123c
    - introduce: #ecf5ff

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #e9ebee;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 100%;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    grid-template-areas:  
    'header header'
    'title title'
    'main info'
    'footer footer';
}

/************************** Header page *******************************/
/***********************************************************************/

/********* link *********/

header{
    margin-bottom: 50px;
    background-color: #00123c;
    padding: 5px 30px 5px 50px;
}

.link_right{
    float: right;
    padding: 15px 0px 15px 15px;
}

.link_right li{
    display: inline;
    list-style: none;
    
}

.link_right li a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}


.header_reponsive{
    display: none;
}
/************** css for header *************/

.link_right a:hover{
    transition: 0.8s;
    background-color: #033dc2;
}

header a.main_page{
    background-color: white;
    color: #033dc2
}
header a.main_page:hover{
    background-color: white;
    color: #033dc2
}

/************* logo ***************/

.logo{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border: 3px solid #00123c;
    box-shadow: 2px 2px 5px 0px #00123c;
}


/*********************** TITLE WEBSITE*******************/
/*********************************************************/
.title_main{
    padding: 75px 25px;
    position: relative;
}

.title_main h1{
    background-color: white;
    position: absolute;
    padding: 15px;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translateX(-85%) translateY(-50%);
    box-shadow: 0px 4px 10px #00123c;
    border-radius: 25px;
    font-size: 200%;
    /* background-image: linear-gradient(to right, #033dc2, #033dc2); */
}

.multi_word{
    font-family: 'Butcherman', cursive;
    color: #0040d4;
}

/************** css for title ***********/
.online_word{
    animation: change_color 10s infinite;
}

@keyframes change_color {
    0% {
        color: red;
    }
    50%{
        color: red;
    }
    100%{
        color: blue;
    }
}

/****************************** CODE FOR MAIN *****************/
/******************************************************************/
.choose_items{
    padding: 25px 25px 100px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    grid-template-areas:
    'ticket1 ticket2'
    'ticket3 ticket4';
}

.choose_items a{
    text-decoration: none;
    color: black;
}

.format_ticket{
    line-height: 150%;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px #00123c;
    display: grid;
    grid-template-columns: 2fr 1fr;
    cursor: pointer;
}

.format_ticket h3{
    color: #0040d4;
}

.detai_ticket{
    text-align: justify;
    margin-top: 5px;
}

.picture_for_ticket{
    margin: 50px 0px 0px 25px;
    max-width: 100px;
}

/************* css for main*****************************/

.format_ticket:hover{
    transform: translateY(-5px) translateX(-2px);
    transition: 0.8s;
}


/**********************  CODE FOR INTRODUCE *******************/
/*************************************************************/

.introduce{
    line-height: 150%;
    padding: 25px 10px 5px 5px;
    font-weight: normal;
}
.back_introduce{
    position: relative;
}

.introduce h3{
    background-color: #00123c;
    color: white;
    text-align: center;
    padding: 10px 5px;
    box-shadow: 1px 1px 5px 0px #00123c;
}

.introduce p{
    background-color: #ecf5ff;
    padding: 5px 10px;
    text-align: justify;
    margin-top: 3px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 2px solid #00123c;
    border-bottom: 1px solid #033dc2;
    box-shadow: 1px 1px 5px 0px #00123c;
    height: 200px;
    /* position: absolute; */
}

#intro2, #intro3, #intro4 {
    display: none;
}


/************** css for introduce ***************/

.introduce div:hover{
    transition: 1.5s;
    transform: scale(1.05);
}



/************************ CODE FOR FOOTER ***********************/
/****************************************************************/

footer{
    position: relative;
    padding: 10px 25px;
    background-color: #00123c;
    color: white;
    font-size: 70%;
}

.info{
    list-style: none;
    line-height: 20px;
}

.feedback{
    position: absolute;
    display: inline;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


