/******************************* CODE STYLE FOR DUONG LOI TRAC NGHIEM *********************/
/****************************************************************************/


/*******************************main color ***********************/
/*************************************************************************/

/*  - background color: #e9ebee
    - header: #00123c
    - introduce: #ecf5ff

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #e9ebee;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 100%;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    grid-template-areas:  
    'header header'
    'view_result view_result'
    'format_question buttom_area'
    'footer footer';
}

/************************** Header page *******************************/
/***********************************************************************/

/********* link *********/


header{
    position: relative;
    background-color: #00123c;
    
    height: 58px;
}

header div{
    padding: 5px 30px 5px 50px;
    width: 100%;
    background-color: #00123c;
    position: fixed;
    height: 58px;;
}

.link_right{
    float: right;
    padding: 15px 0px 15px 15px;
}

.link_right li{
    display: inline;
    list-style: none;
    
}

.link_right li a{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}


.header_reponsive{
    display: none;
}
/************** css for header *************/

.link_right a:hover{
    transition: 0.8s;
    background-color: #033dc2;
}

/* header a.main_page{
    background-color: white;
    color: #033dc2
}
header a.main_page:hover{
    background-color: white;
    color: #033dc2
} */

/************* logo ***************/

.logo{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    border: 3px solid #00123c;
    box-shadow: 2px 2px 5px 0px #00123c;
}

/********************************* CODE FOR VIEW RESULT ***************/
/*********************************************************************/

.view_result{
    padding: 60px 0px;
    /* background-color: #033dc2; */
    position: relative;
    color: #00123c;
}

.background_view {
    line-height: 180%;
    background-image: linear-gradient(to right, #ecf5ff, #2761e9);
    width: 60%;
    position: fixed;
    background-color: #00123c;
    padding: 15px 50px;
    top: 58px;
    left: 30%;
    
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    animation: change_color_view 10s infinite;
}

.background_view h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
/*****************8 css for view **************/

@keyframes change_color_view{
    25%{
        background-image: linear-gradient(to right, #ecf5ff, #2761e9);
    }

    50%{
        background-image: linear-gradient(to left, #ecf5ff, #2761e9);
    }
    75%{
        background-image: linear-gradient(to right, #ecf5ff, #2761e9);
    }
    100%{
        background-image: linear-gradient(to left, #ecf5ff, #2761e9);
    }
}



/***************************CODE FOR TOOL BUTTOM*******************/
/******************************************************************/

.buttom{
    
}

/************************ CODE FOR FOOTER ***********************/
/****************************************************************/

footer{
    position: relative;
    padding: 10px 25px;
    background-color: #00123c;
    color: white;
    font-size: 70%;
}

.info{
    list-style: none;
    line-height: 20px;
}

.feedback{
    position: absolute;
    display: inline;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/******************* CODE FOR DATABASE *************************/

.all_create_here{
    display: block;
}